.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: arial, sans-serif;
}

img {
    object-fit: contain;
    
}

#mic-icon {
    width: 3em;
    height: 3em;
}
#search {
    width: 50em;
    height: 3em;
    border: 0.06em solid lightgray;
    border-radius: 20em;
    object-fit: contain;
}